@{
    ViewBag.Title = "Contactus";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style type="text/css">
    .sysmap {
        width: 100%;
        height: 700px;
        float: right;
        z-index: 1;
    }

    .contact_form {
        z-index: 99;
        opacity: 0.75;
        position: absolute;
        float: right;
        background: white;
        width: 350px;
        margin-top: 2%;
        margin-left: 27%;
        padding: 2%;
        height: 600px;
    }
</style>

<body>
    <div rowspan="10">&nbsp;<iframe class="sysmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.5620318120805!2d77.62658121488275!3d12.93584671916168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1446efa14eb3%3A0x2a47f7149666b487!2sSysfore+Technologies!5e0!3m2!1sen!2sin!4v1471506083542" frameborder="0" style="border:0" allowfullscreen></iframe></div>

    <div class="contact_form">
        <h2 class=" h3" style="font-family: 'Open Sans', sans-serif;font-size:24px;"> &nbsp;Get in touch  </h2>
        <p style="color: #666;"> If you&#39;re interested in learning more about how we can help your business succeed on the web, we&#39;d be happy to setup a meeting time to discuss your needs and goals further.</p>
        <h3 style="font-family:'Open Sans' , sans-serif;font-size:20px;">&nbsp;SysWeatherMap Pvt. Ltd.</h3>

        <p style="font-family:'Open Sans' , sans-serif;font-size:18px;">Indian Office</p>
        <span>
            <b>Address:</b><p style="color:#666;display:inline;margin-left:19%;">
                #117-120, First Floor,<br />
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp;4th Block, 80 Feet Road,<br />
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp; Koramangala, Bangalore <br />
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp;560034
            </p>
        </span>

        <br />
        <span>
            <b>Email:</b>
            <p style="color:#666;display:inline;margin-left:25%;"<a href="mailto:info@sysfore.com">info@sysfore.com</a></p>
        </span><br />
        <span>
            <b>Tel:</b>
            <p style="color:#666;display:inline;margin-left:30%;">
                +91-80-4110-5555<br />
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp;


                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;+91-80-4110-4545

            </p>
        </span>


        <br />

        @*<p style="font-family:'Open Sans' , sans-serif;font-size:18px;">UAE Office</p>
            <span>
                <b>Address:</b><p style="color:#666;display:inline;margin-left:19%;">
                                   #312, Building 1,<br />
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp;Discovery Gardens,<br />
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp;  Dubai<br />

                </p>
            </span>

            <br />
            <span>
                <b>Email:</b>
                <p style="color:#666;display:inline;margin-left:25%;"<a href="mailto:info@sysfore.com">info@sysfore.com</a></p>
            </span><br />
            <span>
                <b>Tel:</b>
                <p style="color:#666;display:inline;margin-left:30%;">
                    +971 - 504793965/529424963<br />
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp;


                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;+971 - 44308533
                </p>
            </span>*@
        <hr style="color:#fcfcfc;" />



        <p style="font-family:'Open Sans' , sans-serif;font-size:18px;">US Office</p>
        <span>
            <b>Address:</b><p style="color:#666;display:inline;margin-left:19%;">
                26 Mill River Street,<br />
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp;Stamford, CT 06902,<br />
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp; Marion <br />
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp;66861

            </p>
        </span>

        <br />
        <span>
            <b>Email:</b>
            <p style="color:#666;display:inline;margin-left:25%;"<a href="mailto:info@sysfore.com">info@sysfore.com</a></p>
        </span><br />
        <span>
            <b>Tel:</b>
            <p style="color:#666;display:inline;margin-left:30%;">
                +1-203-350-0360<br />
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp;


                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;+1-203-350-0360
            </p>
        </span>
    </div>

</body>

