@model WeatherProject.Models.DB.register
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/Content/SignInCss.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        // Show hide popover
        $(".dropdown").click(function () {
            $(this).siblings().find('.dropdown-menu').slideUp(-300);
            $(this).find(".dropdown-menu").slideToggle(-300);
        });
    });
    $("#getpwd").on("click", function () {
        $('#email').val(email);
        $.ajax({
            type: 'POST',
            url: @Url.Action("ForgotPassword", "ForgotPasswordCon"),
            data: { email: email },
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (data) {},
            error: function (xhr, textStatus, errorThrown) {
            alert("It Seems you have not yet registered. Please Register with us..!")
            }
        });
    });
</script>
<div style="height:230px;margin-top:7%">
    <div class="signInContent">
        <form role="form" method="post">
            <div class="form-group">
                <p class="text-muted">Enter your email address and we will send you a password.</p>
                <input type="email" id="email" name="email" placeholder="Enter Email" required style="width:40%">
                <span><button id="submit_button" class="getpwd" type="submit">Send</button></span>
            </div>
        </form>
    </div>
</div>
